<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.556127 -0.0552823 0.946217" rpy="0.75101 -1.53422 -2.35461" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.556127 -0.0552823 0.946217   -0.697582 0.00372365 0.716166 -0.0217077 edo_base_link camera_top_link" />
</launch>
